@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  overflow: hidden;
  background-image: url('../public/background3.png');
}

.buttons div {
  border-radius: 100%;
  height: 15px;
  width: 15px;
}

/* .main {
  width: 90%;
} */

.marker {
  padding: 5px;
  border-radius: 5px;
  border: 5px solid white;
  position: relative;
}

.marker:hover {
  cursor: pointer;
}

.marker span {
  @apply bg-blue-200 text-white;
  position: absolute;
  top: -13px;
  right: -5px;
  padding: 2px;
  border-radius: 15px;
  min-width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}